:root {
  --clr-blue: #152b55;
  --clr-l-blue: #4e648e;
  --clr-l-blue-1: #7788aa;
  --clr-brown: #804415;
  --clr-gray: #ded7d7;
  --clr-dark: #303030;
  --clr-light: #fbf6f6;

  --ff-heading: "serif";
  --ff-primary: "sans-serif";

  --box-shadow: 0px 3px 15px var(--clr-l-blue-1);
  --transition: all 0.3s linear;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: var(--ff-heading);
}

h1 {
  font-size: 3.125rem;
  line-height: 1.25;
}

h2 {
  font-size: 2.1875rem;
}

h3 {
  font-size: 1.5625rem;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.section {
  padding: 10rem 0;
}

.section__heading {
  text-align: center;
  color: var(--clr-blue);
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.center {
  margin: 0 auto;
}

.m--top {
  margin-top: 3em;
}

.btn a {
  text-decoration: none;
  color: var(--clr-light);

  font-size: 1.25rem;
  font-weight: 600;
}

/****************** 
    nav-bar
*******************/

.nav {
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  background-color: var(--clr-light);
  z-index: 1;
}

.nav__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25em 0;
}

.logo {
  width: 20%;
  align-self: center;
}

.nav__list,
.social__list {
  list-style: none;
  padding: 0;
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  padding-bottom: 1.25em;
}

.social__item + .social__item {
  margin-left: 1em;
}

.nav__item {
  text-align: center;
  padding: 1.75em 0;
}

.nav__link {
  font-size: 1rem;

  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--clr-blue);
  cursor: pointer;
  padding: 0.65em 0;
}

.nav__link:hover {
  color: var(--clr-brown);
}

.hamburger {
  font-size: 1.75rem;
}

.btn {
  width: 250px;
  background-color: var(--clr-blue);
  color: var(--clr-light);
  padding: 1em 2em;
  border-radius: 100px;
  text-align: center;
}

.btn:hover {
  background-color: var(--clr-brown);
  color: var(--clr-light);
}

.icon {
  width: 30px;
}

.nav__bottom {
  max-height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.nav__bottom--toggle {
  max-height: 100rem;
  transition: var(--transition);
}

.active {
  border-bottom: 3px solid var(--clr-brown);
}

/****************** 
  main
*******************/

.main-section {
  position: relative;
  min-height: calc(100vh - 9rem);
  display: grid;
  place-items: center;
  text-align: center;
}

.background {
  background: linear-gradient(
      45deg,
      rgba(21, 43, 85, 0.65),
      rgba(78, 100, 142, 0.65)
    ),
    url(../images/Overcast\ cropped.jpg) no-repeat center;
  background-size: cover;
}

.heading {
  color: var(--clr-light);
  text-align: center;
}

.btn--light {
  background-color: var(--clr-light);
}

.btn--light:hover {
  background-color: var(--clr-brown);
  transition: var(--transition);
}

.btn--light:hover a {
  color: var(--clr-light);
  transition: var(--transition);
}

.btn--light a {
  font-size: 1.25rem;
  font-weight: 600;

  text-decoration: none;
  color: var(--clr-blue);
}

/****************** 
    cards
*******************/

.card {
  background-color: var(--clr-light);
  box-shadow: var(--box-shadow);
  padding: 3em;
  text-align: center;
}

.card:hover {
  box-shadow: 0px 5px 15px var(--clr-blue);
}

.card + .card {
  margin-top: 3.75em;
}

.card-content-grid {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  row-gap: 20px;
}

.card__title {
  font-family: var(--ff-heading);
  color: var(--clr-blue);
}

.card__icon {
  width: 100px;
  margin: 0 auto;
  color: var(--clr-blue);
  margin-top: 1em;
}

.card__content {
  font-size: 1.125em;
  font-family: var(--ff-primary);
  margin-top: 1em;
}

.btn--card {
  background-color: var(--clr-blue);
  margin: 0 auto;
}

.btn--card:hover {
  background-color: var(--clr-brown);
}

.btn--card a {
  font-size: 1.125rem;
  font-family: var(--ff-primary);
  text-decoration: none;
  color: var(--clr-light);
}

/****************** 
  our works
*******************/

.section--gray {
  background-color: var(--clr-gray);
  z-index: -1;
}

.m--top-neg {
  margin-top: -25em;
}

.p-top {
  padding-top: 30em;
}

.underline {
  width: 120px;
  margin: 0 auto;
  margin-top: 1em;
  border: 3px solid var(--clr-l-blue);
  border-radius: 100px;
}

.image-gallery {
  margin-top: 8em;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
}

.image {
  position: relative;
  background: linear-gradient(
    45deg,
    rgba(21, 43, 85, 0.65),
    rgba(78, 100, 142, 0.65)
  );
}

.image img {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
}

.image:hover img {
  opacity: 0.5;
}

.image__content {
  color: var(--clr-blue);
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.image:hover .image__content {
  opacity: 1;
}

.btn--img {
  text-decoration: none;
  font-size: 1.2rem;
}

.btn--img::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f061";
  margin-right: 1em;
}

.section--gray .btn {
  margin-top: 5em;
  font-family: var(--ff-primary);
}

/****************** 
  contact us
*******************/
.form {
  margin-top: 8em;
}

.form__image img {
  width: 100%;
}

#contact {
  padding: 1.2em;
}

input {
  padding: 1em 1.5em;
  border: none;
  border-bottom: 2px solid var(--clr-gray);
  font-size: 1.125em;
  outline: none;
}

input::placeholder {
  color: var(--clr-l-blue-1);
  font-family: var(--ff-primary);
}

input + input,
label {
  margin-top: 2em;
}

label {
  padding-left: 1.5em;
  color: var(--clr-l-blue-1);
  font-family: var(--ff-primary);
  margin-bottom: 0.75em;
  font-size: 1.125em;
}

textarea {
  outline-color: gray;
  font-size: 1.125rem;
}

#submit {
  font-size: 1.125rem;
}

/****************** 
  footer
*******************/
.footer {
  background-color: var(--clr-dark);
  padding: 2em 0;
  font-family: var(--ff-heading);
}

.link__list {
  padding: 0;
  list-style: none;
  justify-content: center;
}

.link {
  text-decoration: none;
  color: var(--clr-light);
  border-bottom: 1px solid gray;
}

.link__item + .link__item {
  margin-left: 1em;
}

.copyright {
  text-align: center;
}

.copyright,
.link__list {
  font-size: 1rem;
  align-self: center;
  color: var(--clr-light);
}

@media (min-width: 1200px) {
  h1 {
    font-size: 4.375rem;
  }

  .container {
    width: 80%;
  }

  .row {
    display: flex;
  }

  .row--spacing {
    justify-content: space-between;
  }

  /****************** 
    nav-bar
  *******************/

  .logo {
    width: 120px;
  }

  .nav__top {
    align-self: center;
  }

  .hamburger,
  .social__list {
    display: none;
  }

  .nav__bottom {
    width: 45%;
    max-height: 1000px;
    align-self: center;
  }

  /****************** 
    cards
  *******************/

  .card--grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-gap: 60px;
  }

  .card + .card {
    margin-top: 0;
  }

  /****************** 
    our works
  *******************/

  .image-gallery {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }

  /****************** 
    contact us
  *******************/

  #contact {
    width: 55%;
    padding: 2em;
  }

  .form__image {
    width: 40%;
  }

  /****************** 
    footer
  *******************/

  .link__list {
    width: 30%;
    justify-content: space-between;
  }

  .link__item + .link__item {
    margin-left: 0;
  }

  .link {
    border-bottom: none;
  }
}
